/*
Name: Jonathan Bezdek
S-Nummer: s82104
Studiengruppe: 20/042/62 
Studiengang: Wirtschaftsinformatik
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Veranda', sans-serif;

    width: 100%;
    height: auto;

}

body {
    background-color: #fefae0;
    min-height: 100vh;

}

.time {
    color: #283618;
    font-size: 15vw;
    text-align: center;
}

.timeleft {
    font-size: 6vw;
    text-align: center;
    color: #606c38;

}


.blinking {
    animation-name: blinker;
    animation-duration: 1s;
    animation-iteration-count: 60;
    animation-timing-function: linear;
}

.fullPageMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 54, 24, 0.9);
    transition: 0.5s;

}

.submit {
    width: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.submit:hover {
    background: #dda15e;
}

.fullPageMenu .nav span {
    font-size: 30vw;
    text-align: center;
    color: lightgray;
    height: 40px;
    display: inline;
    padding: 0px 0px 40px
}


.fullPageMenu .settings {
    margin-right: 50%;
    font-size: 3vw;
    text-align: center;
    color: lightgray;
}

.label:hover {
    color: #dda15e;
}

.label {
    font-size: 2vw;
    text-align: center;
    color: lightgray;
    height: 10%;
    width: 15%;
}

.fullPageMenu.active {
    top: -100%;
}


.fullPageMenu .nav {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.menuicon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: url(/close.png);
    background-size: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 10px;
}

.menuicon.active {
    background: #fefae0 url(/settings.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 10px;
}


.fullPageMenu .nav p label {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}



/* progressbar */

b {
    font-size: 2vw;
    color: #fefae0;
}

.bar {
    background: #dda15e;
    transition: 1s ease-in-out;
    border-radius: 15px 30px 30px 15px;
    border-color: #283618;
    color: white;
    text-align: left;
    border: 5px solid rgb(52, 52, 52);
    width: 0%;
}

/*Blink Animation*/
@keyframes blinker {
    50% {
        color: #FFFF00;
    }
}